/* CLASS    =     .         (Several elements)
    ID            =     #         (1 element)*/

.cev .gradients {
    width: 100px;
    height: 100px;
    background-image: linear-gradient(to right, #ffd500, #1b1b1b 80%);
    /* background-image: radial-gradient(circle, #ffd500, #1b1b1b); */
}

.cev .font-families {
    font-family: 'Courier New';
    /*                  Arial, Helvetica, Verdana           monospace, serif, sans-serif, cursive */
    font-size: 18px;
    font-weight: 400; /* 100 - 900*/
    /* lighter normal bold bolder  */
    font-style: italic;
    text-decoration: underline;
}

.cev .font-families h2 {
    /*  SHOTHAND  */
    /* font-style ---> font-weight ---> font-size ---> font-family  */
    font: normal normal 2em  'Work Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
.cev .font-families h3 {
    font-family: 'Zen Dots', cursive;
}

@font-face {    /* Uploading an external font */
    font-family: "London";
    src: url("fonts/Olondon_.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
    /* formats: opentype(otf), trueype (ttf), embedded-opentype, truetype-aat, svg */
}

.cev .external-fonts {
    font-family: "London";
    font-size: 26px;
}

/* ALIGNING TEXTS */
.cev h1 {
    text-align: center;
}

.cev p {
    text-indent: 1px;
}

.cev .pseudoclass div {
    display: inline-block;
    background-color: lightgray;
    border: 1px solid black;
    text-align: center;
    height: 200px;
    width: 200px;
}

.cev .pseudoclass div:hover {
    background-color: #ffd500;
}

.cev .pseudoclass div p {
    display: none;  /*HIDE element*/
}

.cev .pseudoclass div:hover p {
    display: block;     /* Show element*/
}

.cev .pseudoclass div:active {
    background-color: green;
}

.cev #pseudoelement a:visited {
    color: red;
}

.cev #pseudoelement a::after {
    content: '[link]';
    font-weight: bold;
    color: rgb(255, 97, 97);
}

.rocket #container {
    width: 480px;
    margin: 20px;
}

.rocket h1#test {
    color: #8464E6;
    background-color: #202024;
    font-size: 40px;
    text-decoration-color: #E1E1E6;
    text-decoration-line: underline;
}
/* using IMPORTANT  (AVOID)
.rocket h1 {
    color: green !important;
} */

#box-model {
    width: 150px;
    height: 100px;
    margin: 10%;
    padding: 0 20px;
    box-sizing: border-box; /* Widht and height fixed */
    border: 1px dashed red;
}

#displays h3 {
    width: 183px;
    border-bottom: 1px solid red;
}

#displays div {
    display: inline;
    background-color: lightgray;
    border: 1px solid black;
}

